@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Noto+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
  box-sizing: border-box;
  font-family: 'Noto Sans', cursive;
}

.frontpagetitle {
  font-family: 'Cormorant Garamond', serif;
  font-size: 80px;
  font-weight: 700;
}

.frontpagesubtitle {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  font-weight: 600;
}


.randomrestosection {
  margin-right: 5px;
}

.flexhome {
  display: flex;
  align-items: center;
}

.flexhomerandom {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
}

// .section {
//   display: flex;
//   padding: 20px 100px 20px;
//   background-image: url('https://i.pinimg.com/originals/db/82/81/db82812eecaea9306e889e262514e7fc.jpg');
// }

.column {
  padding: 5px 20px;
  margin: 5px;
}

div.hero-body {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url('https://fast.clickbooq.com/94f233-986/071412_TOC_BlackBull_3615_FF-lg.jpg');
  background-size: cover;
  height: 130vh;
  // background-color: black;
  // opacity: 80%;
}

.homepage-textbox {
  // background-color: rgba(255, 255, 255, 0.5);
  color: white;
  margin: auto 200px;
}

.randombutton {
    cursor: pointer;
    text-transform: uppercase;
    // width:120px;
    // height:60px;
    // margin-left:35px;
    display:block;
    background-color:black;
    color: #f2c782 !important;
    border: none;
    outline:none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    // padding-bottom: 7px;
    transition: color .3s ease-in-out .05s;
    // text-decoration: underline;

}

.randombutton:hover {
  color: white;
  border-bottom: 1px solid white;
}

.random-container {
  background-color: black;
  opacity: 92%
}

.random-container-text {
  background-color:black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  min-height: 500px;
}

.random-text1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 26px;
  color: white;
}

.random-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  color: white;
}

.avatar {
  img{
    max-width: 200px;
  }
}

.allrestaurantsbackground {
  padding-top: 50px;
  background-image: url("https://i.imgur.com/3TsyQv4.jpg");
  background-size: cover;
  min-height: 100vh;
}

.button.is-success {
    background-color:  #F2C782;
}

// .favrestaurantsbackground {
//     padding-top: 50px;
//     background-image: url("https://i.imgur.com/3TsyQv4.jpg");
//     background-size: cover;
//     height: 100vh;
// }

.defaultfont {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

.formfont {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 20px;
}


.searchfont {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 20px;
}

nav.navbar {
  background-color: black;
}

.foodtitle {
  font-size: 22px;
  // margin-bottom: 0.5rem;
    font-variant: unset;
    color: gainsboro;
    margin-bottom: 1px;
  

  // &:hover {
    // box-shadow: 0 4px 5px 0 rgba(0,0,0,.3);
    // color: red;
    // transition: 0.9s;
    // transform: rotateY(180deg);
      // transition: all 1.5s linear;
      // padding: 0 5px 0 5px;
  
    // margin: 5px;
  // }
}

.navbar-brand {
margin-right: 15px;
}

.navbar-dropdown {
  margin-right: 15px;
}

.navbar-link {
  background-color: black !important;
  color: gainsboro !important;
  &:hover {
    // border-bottom: 2px solid white;
    background-color: black;
    color: #F2C782;
  }
}

.is-active {
  background-color: black;
}

div.navbar-menu.is-active {
  background-color: black;
  margin-right: 15px;
}



div.navbar-container {
  margin: auto 15px !important;
  max-width: 100vw;
  background-color: black;
}


a.navbar-item{
    // border-bottom: 2px solid;//line below navbar restaurants, login etc..
  background-color: transparent;//hides the navbar background box on login, restaurants..
  transition: 0.2s ease;
  // border-bottom: 2px solid transparent;
  color: gainsboro;
  font-weight: bold;
  // font-size: 40px;
  // font-size: large;

  font-family: 'Alegreya Sans SC';
  &:hover {
    // font-size: 40px;
    color: #F2C782 !important;
    background-color: black !important;
  }
}

.navbar-edited {
  transition: 0.2s ease;
  border-bottom: 2px solid transparent;
  padding: 10px;
  color: gainsboro;
  font-weight: bold;
  font-size: large;
  font-family: 'Alegreya Sans SC';
  &:hover {
    border-bottom: 2px solid white;
    color: #F2C782 !important;
    background-color: black !important;
  }
}

.dropdown-item {
  color: gainsboro;
  cursor: pointer;
  font-family: 'Alegreya Sans SC';
}
.navbar-dropdown, .navbar-divider{
  background-color: black;
}

.map {
  border: 1px solid red;
  min-height: 400px;
  // max-width: 400px;
}

.comment {
  margin-bottom: 20px;

  h2{
    font-size: 20px;
    color: violet;
  }

}
.liked {
  color: rgb(5, 207, 5);
}

.disliked {
  color: red;
}

// .card {
//   height: 200px;
//   text-align: center;
//   box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
//   border-radius: 10px;
//   margin: 10px;
//   transition: all .2s ease-out;
//   img{
//     height: 300px;
//     border-radius: 8px;
//   }
//   &:hover {
//     box-shadow: 0 4px 5px 0 rgba(0,0,0,.3);
//     margin: 5px;
//   }
// }

.card-content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  top: 32%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  .white {
    color: black;
    font-size: 27px;
    font-family: monospace;
  }
  .subtitle {
    height: 50px;
  }
}

.resImage {
  opacity: 1;
  // display: block;
  // width: 100%;
  height: auto;
  transition: .5s ease;
}

img.sImage {
  padding: 30px;
  width: 800px;
}

.card:hover .resImage {
  opacity: 0.7;
}

.card:hover .card-content {
  opacity: 1;
}

.image.is-4by3 img {
  height: 200px;
}

.subtitle {
  color: black;
  font-weight: bold;
  padding: 10% 10%;

}

.input, .textarea {
  width: 400px
}
.single-background {
  background-position: middle;
  vertical-align: middle;
  background-size: contain;
  background-color: white;
  // opacity: 50%;
  margin-bottom: 20px;
}

.single-info {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.single-details {
  font-size: 24px;
  // font-weight: bold;
}

.single-name-background {
  background-color: white;
  opacity: 80%;
  width: 50%;
  text-align: center;
}

.single-name {
  font-weight: bold;
  color: black;
  font-size: 46px;
  padding: 30px;
}

.smaller-details {
  font-size: 18px;
  font-weight: normal;
}

.single-link, .single-link-button, .single-address, .single-cuisine, .single-ticks {
  padding: 10px;
}

div.dropdown {
  margin-bottom: 20px !important;
}
.card {
  width: 300px;
  height: 185px;
  // background-color: #73AD21;
  // border-radius: 20px;
  text-align: center;
  // max-height: 400px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background: rgba(89, 197, 146, 0.8);
  border-radius: 10px;
  margin: 10px;
  transition: all .2s ease-in-out;
  img{
    height: 300px;
    border-radius: 8px;
  }
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.3);
    margin: 5px;
  }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.field {
  padding: 10px;
}

.button.is-danger {
  background-color: #f14668;
  // border-color: transparent;
  color: #fff;
  margin: 29px 11px -15px -50px;
  margin-top: 10px;
  
}

#comment-rating {
  margin-right: 10px;
  margin-left: 2px;
}

.new-comment-textfield {
  margin-left: -10px;
}

.white {
  color: white;
}

.main-container {
  padding: 15px 10px 10px 40px;
}

.form-submit {
  margin-left: 10px;
}

.include-eye {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 35%;
}

.change {
 border-color: transparent !important;
}

.eye {
  margin: 0px 10px;
  cursor: default;
}

.image-uploader{
  right:0px;
  position: absolute;
}

.image-slider {
  max-width: 30vw;
}

.comment-delete {
  float: right;
  margin: 0 0 10px 0 !important;
}

.map-and-gallery {
  align-self: center !important;
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.page-background {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url('https://fast.clickbooq.com/94f233-986/071412_TOC_BlackBull_3615_FF-lg.jpg');
  * {
    color: white;
    button {
      color: black;
    }
  }
}

.page-title {
  text-align: center;
  padding-top: 50px
}


.transparent-background {
  background-color: white;
  opacity: 0.8;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 30px;
  // height: 20px;
}

.box-override {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
}

.add-restaurant-box {
  height: 70vh;
  overflow-y: auto;
  margin-left: 20vh;
  width: fit-content;
}

// .add-restaurant-box {
//   height: 70vh;
//   overflow-y: auto;
//   *{
//     color: black;
//   }
//   margin-left: 20vh;
//   width: fit-content;
// }

.image-upload-button {
  margin-left: 10px;
}
div.login-top {
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

@media only screen and (max-width: 600px) {

  .add-restaurant-box {
    margin-left: 0;
  }

  .login-top {
    height: 20vh;
    h1{
      font-size: 30px;
    }
    p{
      font-size: 15px;
    }
  }
  
  .card-content {
    opacity: 1;
  }

  .login-container {
    height: 50vh !important;
  }

  .box {
    max-width: 80vw;
    max-height: 70vh;
  }


  .login-button {
    max-height: 60px;
  }

  .main-container {
    padding: 15px 10px 10px 15px;
  }

  //profile page
  .profile-page {
    text-align: center;
  }
  .profile-image {
    height: 20vh;
  }
  .homepage-textbox {
    margin: 90px 0 0 0;
    
  }
  .is-large {
    height: 75vh;
  }
  .random-container {
    padding-top: 50px;
    .random-container-text {
      max-height: 20vh;
      display: block;
      text-align: center;
      .random-text {
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }

  .mobile-padding {
    padding-left: 20px
  }

  .comment-column {
  }

  .comment-text {
    max-width: 80vw;
    word-wrap: break-word;
  }
}


.include-eye {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 35%;
}

.change {
 border-color: transparent !important;
}

.eye {
  margin: 0px 10px;
  cursor: default;
}

.image-uploader{
  right:0px;
  position: absolute;
}

.image-slider {
  max-width: 30vw;
}

.comment-delete {
  float: right;
  margin: 0 0 10px 0 !important;
}

.map-and-gallery {
  align-self: center !important;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page {
  text-align: center;
  background-image: url('https://i.imgur.com/3TsyQv4.jpg');
  background-size: cover;
  // height: 100vh;
}

.profile-image {
  height: 40vh;
  // padding: 10px;
  margin-top: 20px;
}

.profile-text {
  font-weight: bold;
  font-size: 22px;
  color: white;
  margin: 15px;
  font-family: 'Cormorant Garamond', serif;
}

.flexparent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.profile-box {
  background-color: black;
  opacity: 70%;
  // height: 40vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px 50px;
  margin-top: 20px;

}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
